/** COLORS  **/
$main-color: #f9f3f3;
$bg-color: #e4e2e2;

/** LOGO **/
$logo-text-color: #41b883;

/** NAV **/
$nav-link-color: #35495e;
$nav-link-hover-color: #000;
$nav-link-active: #41b883;

/** NEWS **/
$news-bit-background: #fff;

/** SEARCH BOX **/
$search-button-background: #41b883;
$search-color-background: #fff;


/** RESPONSIVENESS **/
$break-small: 768px;
$break-medium: 992px; 
$break-large: 1200px;

$small-screens: "screen and (max-width: #{$break-small})";
$medium-screens: "screen and (max-width: #{$break-medium})";
$large-screens: "screen and (max-width: #{$break-large})";
